body,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(27, 27, 46) !important;
    user-select: none;
}

h1{
    font-family: 'Fira Code', monospace;
    color: rgb(0, 195, 255);
    font-size: 60px;
    font-weight: 700;
}
#aboutmetext{
    margin-top: 150px;
}
section{
    height: 100vh;
}

#developer{
    color: red;
}

#aboutMeImg{
    height: 600px;
}

