body{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    background-image: url(images/background.jpg);
    height: 100%;
    backdrop-filter: blur(10px);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#row{
    height:80vh;
}

section > div > div > img{
    border: 2px solid yellow;
}

#heading > h1{
    color: white;
    font-family: 'IBM Plex Serif', serif;
}

#summary{
    font-family: 'Fira Code', monospace;
    color: rgba(255, 255, 0, 0.493) !important;
}

#yes{
    color:red !important;
}

h5{
    display: inline;
    color: rgb(0, 195, 255);
    font-size: 17px !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 2rem !important;
}

@media screen and (max-width: 320px) {
    a  {
        font-size:10px;    
    }
}
@media screen and (max-width: 320px) {
    button  {
        width: 74px !important;
        
    }
}

li > button > a{
    color: white !important;
}
li > button > a:hover{
    color: black !important;
}

#secondCircle{
    border: 1px solid rgb(255, 230, 3);
    padding: 5px; 
    border-radius: 75px;
    background-color: rgb(255, 230, 3);
}

h2{
    font-family: 'IBM Plex Serif', serif;
}