body{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    background-color: rgb(6, 6, 19) !important;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
  


.nav-link{
    word-wrap: normal;
}
.nav-item{
    word-break: normal;
}

.intro{
    margin-top: 120px;
    color: white;
    
}

@keyframes tilt {
    rotate{
        
    }
}
h1{
    font-family: 'IBM Plex Serif', serif;
    color: rgb(255, 255, 255); 
    text-align: center;
    

}

li > button > a{
    color: white !important;
}
li > button > a:hover{
    color: black !important;
}

 @media screen and (max-width: 320px) {
    button {
        width: 74px !important;
        position: relative;
    }
}

@media screen and (max-width: 320px) {
    a  {
        font-size: 10px;
        position: relative;
    }
}


html{
    position: relative;
}

#construction{
    position: absolute;
    top: 0;
    color: rgba(255, 0, 0, 0.437);
    display: none;
}
.image{
    opacity: 90%;
    backdrop-filter: blur(3px);
}

#section2{
    background-color: white!important;
    width: 50%;
    height: 400px;
    z-index: 999;
}


#secondCircle{
    border: 1px solid rgb(255, 230, 3);
    padding: 5px; 
    border-radius: 75px;
    background-color: rgb(255, 230, 3);
}

h2{
    font-family: 'IBM Plex Serif', serif;
}

/* Intro Text Style */
#introText {
    opacity: 0;  /* Initially hidden */
    font-size: 3rem;  /* Adjust font size */
    text-align: center;
    color: #fcf7f7; /* Ensure text is visible */
    margin-top: 100px;  /* Add space from the top */
    transition: opacity 2s ease-in-out;
}

/* Fade-in Effect */
.fade-in {
    opacity: 1;  /* Make the text visible */
}

/* Navbar background color change on scroll */
#navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Navbar link hover effect */
.navbar-nav .nav-item .nav-link {
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #f8b400;
}
